uniform sampler2D${Rect} texture;
uniform vec2 textureMaxCoord;
uniform float rotationAngle;

uniform float maxZoomFactor;

void main() {
	float zoom = 1. + (maxZoomFactor - 1.) * abs(rotationAngle) / 180.;
	vec2 textureCoordinates = ((vec2(gl_TexCoord[0]) / textureMaxCoord - 0.5) / zoom + 0.5) * textureMaxCoord;
	gl_FragColor = texture2D${Rect}(texture, textureCoordinates);
}
