uniform sampler2D${Rect} texture;
uniform vec2 windowPosition;
uniform vec2 windowSize;
uniform float rotationAngle;

uniform float spotRadialDistance = 0.28;
uniform float spotColorRed = 1.;
uniform float spotColorGreen = 1.;
uniform float spotColorBlue = 1.;
uniform float spotFocusFactor = 10.;

void main() {
	/* better calculate in Java? */ 
	float angleRadians = radians(-rotationAngle);
	vec2 spotPosition = spotRadialDistance * vec2(cos(angleRadians), sin(angleRadians));

	vec2 fragmentPosition = 2. * (vec2(gl_FragCoord) - windowPosition) / windowSize - 1.;

	float spotAlpha = min(
		spotFocusFactor * distance(fragmentPosition, spotPosition), 
		1.);
	gl_FragColor = mix(
		vec4(spotColorRed, spotColorGreen, spotColorBlue, 1.), 
		texture2D${Rect}(texture, vec2(gl_TexCoord[0])),
		spotAlpha);
}
